<nav class="navbar navbar-expand-lg navbar-light bg-faded">
    <div class="container">
            <div><i class="pi pi-bars" style="font-size: 2em;"></i></div>
            <a class="navbar-brand" routerLink="/"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Illness Patterns</a>
            <div class="navbar-right pull-right" id="navbarSupportedContent" style="margin-right: 5px">
                <button class="btn btn-primary" (click)="logout()">Logout</button>
            </div>
    </div>
</nav>