<nav class="navbar navbar-expand-lg navbar-light bg-faded">
    <div class="container">
        <button class="menuButton" (click)="display = true" pButton><i class="pi pi-bars"></i></button>
        <a class="navbar-brand" routerLink="/"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Illness Patterns</a>
        <div class="navbar-right pull-right" id="navbarSupportedContent" style="margin-right: 5px">
            <button class="btn btn-primary" (click)="logout()">Logout</button>
        </div>
    </div>
</nav>
<p-sidebar 
        [(visible)]="display" 
        position="left" 
        [style]="{width:'25em'}"
        [showCloseIcon]="false">
    
    <div class="menu">
        <h3 class="text-center">Illness Patterns</h3>
        <div class="navigation">
            <div class="row"><a (click)="display = false" routerLink="/">Home</a></div>
            <hr>
            <ng-container *ngIf="admin">
                <div class="row"><a (click)="display = false" routerLink="/patients">Patients</a></div>
                <hr>
            </ng-container>
        </div>
    </div>
</p-sidebar>